<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/health3"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SignupActivity"
            android:theme="@style/AppTheme">

        </activity>

        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.test.myapplication.MainActivity" />

        </activity>

        <activity
            android:name=".UberActivity"
            android:label="@string/title_activity_uber_activity"
            android:theme="@style/AppThemeActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.test.myapplication.HomeActivity" />

        </activity>

        <activity
            android:name=".UserProfileActivity"
            android:label="@string/title_activity_user_profile"
            android:theme="@style/AppThemeActionBar">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.test.myapplication.HomeActivity" />

        </activity>

        <activity
            android:name=".BookAppointmentActivity"
            android:label="@string/title_activity_book_appointment"
            android:theme="@style/AppThemeActionBar">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.test.myapplication.HomeActivity" />

        </activity>

        <activity
            android:name=".PredictionsActivity"
            android:label="@string/title_activity_predictions"
            android:theme="@style/AppThemeActionBar">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.test.myapplication.HomeActivity" />

        </activity>

    </application>

</manifest>