<section class="about" id="family_info">
<div class="container" ng-controller="familyController">

			<h2>Family History</h2>
			<div class="about-grids">

				
					<div class="w3ls-grid-head text-center">
						<h6>Profile</h6>
						<h3>Family History</h3>
					</div>
					<div class="abt-form text-center">
						<form>
							<div class="col-sm-4 col-xs-4 w3ls-lt-form">
								<div class="w3ls-pr">
									Alcoholism: <input type="text" name="street" ng-model="medical_record.alcoholism" style="width:50px; border-color:transparent; font-family:Arial;"><br>
									Arthritis: <input type="text" name="street" ng-model="medical_record.allergies" style="width:50px; border-color:transparent; font-family:Arial;"><br>
									Bleeding Problems: <input type="text" name="street" ng-model="medical_record.asthma" style="width:50px; border-color:transparent; font-family:Arial;"><br>
									Tuberculosis: <input type="text" name="street" ng-model="medical_record.cancer_or_tumor" style="width:50px; border-color:transparent; font-family:Arial;"><br>
									Other: <input type="text" name="street" ng-model="medical_record.concussion" style="width:50px; border-color:transparent; font-family:Arial;"><br>
								</div>
							</div>
							<div class="col-sm-4 col-xs-4 w3ls-lt-form">
								<div class="w3ls-pr">
									Diabetes: <input type="text" name="street" ng-model="medical_record.drink_alcohol" style="width:50px; border-color:transparent; font-family:Arial;"><br>
									High Blood Sugar: <input type="text" name="street" ng-model="medical_record.genital_warts" style="width:50px; border-color:transparent; font-family:Arial;"><br>
									Heart Disease: <input type="text" name="street" ng-model="medical_record.diabetes" style="width:50px; border-color:transparent; font-family:Arial; "><br>
									Sickle Cell Disease: <input type="text" name="street" ng-model="medical_record.drink_alcohol" style="width:50px; border-color:transparent; font-family:Arial;"><br>
									Nervous Breakdown: <input type="text" name="street" ng-model="medical_record.herpes" style="width:50px; border-color:transparent; font-family:Arial;"><br>
								</div>
							</div>
							<div class="col-sm-4 col-xs-4 w3ls-lt-form">
								<div class="w3ls-pr">
									Stroke: <input type="text" name="street" ng-model="medical_record.safe_sex" style="width:50px; border-color:transparent; font-family:Arial;"><br>
									Psychiatric Problems: <input type="text" name="street" ng-model="medical_record.stroke" style="width:50px; border-color:transparent; font-family:Arial;"><br>
									Migrane Headaches: <input type="text" name="street" ng-model="medical_record.surgery" style="width:50px; border-color:transparent; font-family:Arial;"><br>
									Epilepsy Seizures: <input type="text" name="street" ng-model="medical_record.trichomonas" style="width:50px; border-color:transparent; font-family:Arial;"><br>
									Sleep Problems: <input type="text" name="street" ng-model="medical_record.sleep_problems" style="width:50px; border-color:transparent; font-family:Arial;"><br>
								</div>
							</div>
							<div class="clearfix"></div>
							<!-- <input id="myBtn" type="submit" ng-click="onUpdate()" value="Update"> -->
							<!-- Trigger/Open The Modal -->


							<!-- The Modal -->
							<div id="myModal" class="modal">
							  <!-- Modal content -->
								  <div class="modal-content">
									    <span class="close">&times;</span>
									    <p>Record has been updated successfully</p>
								  </div>
							</div>
						</form>
					</div>
				<div class="clearfix"></div>
			</div>
		</div>
</section>